:root {

    /* Start variables */
    --pf-global--primary-color--100: #FF6060;
    --pf-global--Color--light-100: #fff;
    --pf-global--link--Color: #FF6060;
    --pf-global--FontSize--xs:12px;
    --pf-global--FontWeight--overpass--semi-bold:500;
    --pf-global--FontSize--4xl:24px;
    --pf-global--FontWeight--normal:500;
    --pf-global--BorderRadius--sm:10px;
    --cust-global--block--margin-top:35px;
    --pf-chart-global--layout--Padding:15px;
    --pf-chart-global--div--Margin:5px;

    /* End variables */

}

@import-normalize;
/**
 * Remove the border on images inside links in IE 10-.
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-style: none;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.app{
    padding: 10px;
}

@media only screen and (min-width : 768px) {
.app {
        margin: 0 auto;
        max-width: 1240px;
    }
}